/* Start of Main Rules */
/* Roboto Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  outline: none;
}
:root {
  --main-color: #12264b;
  --grey-light: #fafafa;
  --grey-dark: #eee;
  --light: #fff;
  --dark: rgba(0, 0, 0, 0.87);
  --radius: 8px;
  --spacing: 8px;
  --shadow-sm: rgb(0 0 0 / 20%) 0px 3px 1px -2px,
    rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
  --shadow-md: rgb(0 0 0 / 20%) 0px 2px 4px -1px,
    rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
  --shadow-lg: rgb(0 0 0 / 20%) 0px 5px 5px -3px,
    rgb(0 0 0 / 14%) 0px 8px 10px 1px, rgb(0 0 0 / 12%) 0px 3px 14px 2px;
}
html {
  scroll-behavior: smooth;
}
/* Scrollbar */
::-webkit-scrollbar {
  width: var(--spacing);
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(201, 198, 198);
}
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: var(--radius);
}
body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: var(--dark);
  background-color: var(--grey-light);
  font-size: 16px;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
.smooth {
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.icon {
  display: flex;
}
.icon-sm svg {
  width: 12px;
  height: 12px;
}
.icon-md svg {
  width: 22px;
  height: 22px;
}
[dir="rtl"] .flip {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  transform: scaleX(-1);
}
.g1 {
  gap: var(--spacing);
}
.fs-sm {
  font-size: 0.75rem;
}
.w-fit {
  width: fit-content;
}
.img-contain {
  object-fit: contain;
}
.text-main {
  color: var(--main-color);
}
.text-grey-dark {
  color: var(--grey-dark);
}
.bg-grey-dark {
  background-color: var(--grey-dark);
}
/* End of Main Rules */

/* Start of Buttons */
.btn.btn-main,
.btn.btn-outline-main {
  padding: 0.25rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  gap: var(--spacing);
  height: 40px;
  text-align: center;
  font-weight: 500;
  border-radius: var(--radius);
  white-space: nowrap;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.btn.btn-main {
  color: var(--light);
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
}
.btn.btn-main:hover {
  color: var(--main-color);
  background-color: var(--grey-light);
}
.btn.btn-outline-main {
  color: var(--main-color);
  background-color: var(--grey-light);
  border: 1px solid var(--main-color);
}
.btn.btn-outline-main:hover {
  color: var(--light);
  background-color: var(--main-color);
}
/* End of Buttons */

/* Start of Bootstrap Reset */
.btn {
  padding: 0;
}
.btn-check:focus + .btn,
.btn:focus,
.btn-close:focus {
  box-shadow: none;
}
.form-control:focus {
  box-shadow: none;
  border-color: var(--dark);
}
/* OffCanvas */
[dir="ltr"] .offcanvas-start {
  left: 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  transform: translateX(-100%);
}
[dir="rtl"] .offcanvas-start {
  left: auto;
  right: 0;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  transform: translateX(100%);
}
[dir="ltr"] .offcanvas-end {
  right: 0;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  transform: translateX(100%);
}
[dir="rtl"] .offcanvas-end {
  right: auto;
  left: 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  transform: translateX(-100%);
}
.offcanvas-start.show,
.offcanvas-end.show {
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}
/* End of Bootstrap Reset */

/* Start of Custom OWL */
/* Arrows */
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--dark);
  background-color: var(--light);
  box-shadow: var(--shadow-sm);
  border-radius: 50%;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
  color: var(--light);
  background-color: var(--main-color);
}
[dir="ltr"] .owl-carousel .owl-nav button.owl-prev {
  left: 0.5rem;
}
[dir="rtl"] .owl-carousel .owl-nav button.owl-prev {
  left: auto;
  right: 0.5rem;
}
[dir="ltr"] .owl-carousel .owl-nav button.owl-prev:hover {
  left: 1rem;
}
[dir="rtl"] .owl-carousel .owl-nav button.owl-prev:hover {
  left: auto;
  right: 1rem;
}
[dir="ltr"] .owl-carousel .owl-nav button.owl-next {
  right: 0.5rem;
}
[dir="rtl"] .owl-carousel .owl-nav button.owl-next {
  right: auto;
  left: 0.5rem;
}
[dir="ltr"] .owl-carousel .owl-nav button.owl-next:hover {
  right: 1rem;
}
[dir="rtl"] .owl-carousel .owl-nav button.owl-next:hover {
  right: auto;
  left: 1rem;
}
/* Dots */
.owl-carousel .owl-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.owl-carousel .owl-dots .owl-dot {
  width: 32px;
  height: 15px;
  display: block;
  border-radius: var(--radius);
  border: 1px solid var(--main-color);
  background-color: var(--grey-dark);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.owl-carousel .owl-dots .owl-dot.active,
.owl-carousel .owl-dots .owl-dot:hover {
  background-color: var(--main-color);
}
/* End of Custom OWL */

/* Start of Header */
.header-1 {
  background-color: var(--light);
}
.header-1.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}
/* Start of Top Nav */
@media (min-width: 992px) {
  .top-nav {
    border-bottom: 1px solid var(--grey-dark);
  }
}
.top-nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 575px) {
  .top-nav .container {
    gap: calc(var(--spacing) * 2);
  }
}
@media (min-width: 576px) {
  .top-nav .container {
    gap: calc(var(--spacing) * 3);
  }
}
.top-nav .nav-link {
  color: var(--main-color);
  padding: 0;
}
.top-nav .nav-link:hover {
  color: var(--main-color);
}
/* Brand Section */
.top-nav .brand-wrapper {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing) * 1.5);
}
.top-nav .top-nav-toggler {
  padding: 0;
  border: none;
  background-color: transparent;
}
.top-nav .top-nav-toggler > svg {
  width: 1.5rem;
}
@media (max-width: 991px) {
  .top-nav .top-nav-toggler {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 992px) {
  .top-nav .top-nav-toggler {
    display: none;
  }
}
.top-nav .brand {
  display: flex;
}
.top-nav .brand .brand-image > svg {
  height: 40px;
  width: auto;
}
/* Search Section */
.top-nav .search-form {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 767px) {
  .top-nav .search-form.show {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
}
.top-nav .search-form .search-return {
  color: var(--light);
  background-color: var(--main-color);
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 575px) {
  .top-nav .search-form .search-return {
    border-radius: 0;
  }
}
@media (min-width: 576px) {
  [dir="ltr"] .top-nav .search-form .search-return {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  [dir="rtl"] .top-nav .search-form .search-return {
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
.top-nav .search-form:not(.show) .search-return {
  display: none;
}
.top-nav .search-form .search-group {
  display: flex;
  align-items: stretch;
  background-color: var(--grey-light);
  border: 1px solid var(--grey-dark);
  overflow: hidden;
  flex-grow: 1;
}
@media (min-width: 576px) {
  .top-nav .search-form .search-group {
    border-radius: var(--radius);
  }
}
@media (max-width: 767px) {
  .top-nav .search-form:not(.show) .search-group,
  .top-nav .search-form.show .mobile-search {
    display: none;
  }
}
@media (min-width: 768px) {
  .top-nav .search-form .mobile-search {
    display: none;
  }
}
.top-nav .search-form .search-group input {
  flex-grow: 1;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: none;
}
.top-nav .search-form .search-group .clear-field {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
[dir="ltr"] .top-nav .search-form .search-group .clear-field {
  margin-right: 0.75rem;
}
[dir="rtl"] .top-nav .search-form .search-group .clear-field {
  margin-right: 0;
  margin-left: 0.75rem;
}
.top-nav .search-form .search-group .clear-field:not(.show) {
  display: none;
}
.top-nav .search-form .search-group .clear-field svg {
  width: 10px;
  height: 10px;
}
.top-nav .search-form .search-group .search-icon {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-nav .search-form .search-group .search-icon:hover {
  color: var(--main-color);
}
/* Options Section */
.top-nav .options {
  display: flex;
  align-items: center;
}
@media (max-width: 575px) {
  .top-nav .options {
    gap: var(--spacing);
  }
}
@media (min-width: 576px) {
  .top-nav .options {
    gap: calc(var(--spacing) * 2);
  }
}
.top-nav .login-btn {
  display: flex;
  align-items: center;
  gap: var(--spacing);
  color: var(--main-color);
  font-weight: 500;
}
.top-nav .shopping-cart {
  position: relative;
}
.top-nav .shopping-cart .cart-badge {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.6rem;
  color: var(--light);
  background-color: var(--main-color);
  border-radius: 50%;
  position: absolute;
  top: -6px;
  z-index: 1;
}
[dir="ltr"] .top-nav .shopping-cart .cart-badge {
  right: -5px;
}
[dir="rtl"] .top-nav .shopping-cart .cart-badge {
  right: auto;
  left: -5px;
}
.top-nav .shopping-cart svg {
  width: 30px;
  height: 30px;
  color: var(--main-color);
}
.top-nav .change-lang {
  font-weight: 700;
}
/* End of Top Nav */

/* Start of Category Nav */
.category-nav .logo {
  display: flex;
}
.category-nav .logo svg {
  height: 45px;
  width: auto;
}
.category-nav .category-item {
  position: relative;
}
@media (max-width: 991px) {
  .category-nav .category-nav-links {
    max-height: 75vh;
    overflow-y: auto;
  }
  .category-nav .category-item {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-self: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    gap: 0.5rem;
    white-space: nowrap;
    border-bottom: 1px solid var(--main-color);
  }
}
.category-nav .category-link {
  text-transform: capitalize;
}
@media (min-width: 992px) {
  .category-nav.offcanvas {
    visibility: visible !important;
    position: relative;
    flex-direction: row;
    z-index: 110;
  }
  .category-nav.offcanvas-start {
    width: 100%;
    transform: none !important;
    border: none;
  }
  .category-nav .category-dropdown {
    background-color: var(--light);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    box-shadow: var(--shadow-sm);
    border-radius: var(--radius);
    min-width: 10rem;
    position: absolute;
    top: calc(100% + 1rem);
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    max-height: calc(40px * 4 + 1rem);
    overflow-y: auto;
  }
  .category-nav .category-dropdown.collapse:not(.show) {
    display: block;
  }
  .category-nav .category-item:hover > .category-dropdown {
    opacity: 1;
    top: 100%;
    visibility: visible;
    z-index: 10;
  }
  .category-nav .category-link {
    height: 40px;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    gap: var(--spacing);
    color: var(--main-color);
    background-color: var(--light);
    border-bottom: 1px solid transparent;
    border-radius: 0;
    font-weight: 500;
    width: 100%;
  }
  .category-nav .category-link.active,
  .category-nav .category-link:hover {
    background-color: var(--grey-light);
    border-bottom-color: var(--main-color);
  }
}
@media (max-width: 991px) {
  .category-nav .category-dropdown {
    width: 100%;
  }
}
.category-nav .category-dropdown a {
  color: var(--main-color);
  background-color: var(--grey-light);
  padding: 0.5rem 1rem;
  display: block;
  text-transform: capitalize;
}
.category-nav .category-dropdown a:hover {
  color: var(--light);
  background-color: var(--main-color);
}
.category-nav .mobile-category-toggler {
  flex-grow: 1;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.category-nav .mobile-category-toggler:not(.collapsed) .icon {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
[dir="ltr"] .category-nav .mobile-category-toggler .icon {
  margin-left: auto;
}
[dir="rtl"] .category-nav .mobile-category-toggler .icon {
  margin-left: 0;
  margin-right: auto;
}
@media (min-width: 992px) {
  .category-nav .mobile-category-toggler {
    display: none;
  }
}
/* End of Category Nav */
/* End of Header */

/* Start of Main Banner */
.banner .banner-item {
  display: flex;
  height: 300px;
}
.banner .banner-item img {
  object-fit: cover;
  object-position: 50% 50%;
  max-width: 100%;
}
/* End of Main Banner */

/* Start of Footer */
.footer {
  background-color: var(--main-color);
  position: relative;
}
.footer h3 {
  font-size: 1rem;
  margin-bottom: 15px;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  text-transform: uppercase;
  color: #fff;
}
@media (min-width: 992px) {
  .collapse.dont-collapse-sm {
    display: block !important;
    height: auto !important;
    visibility: visible !important;
  }
}
@media (max-width: 991px) {
  .footer h3 {
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin: 0 -15px 0 -15px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
  }
  .footer h3.collapsed::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' version='1.1' x='0' y='0' viewBox='0 0 426.66667 426.66667' style='enable-background:new 0 0 512 512' xml:space='preserve'%3E%3Cg%3E%3Cpath xmlns='http://www.w3.org/2000/svg' d='m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0' fill='%23ffffff' data-original='%23ffffff'/%3E%3C/g%3E%3C/svg%3E");
    width: 0.85rem;
  }
  .footer h3:not(.collapsed)::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' version='1.1' x='0' y='0' viewBox='0 0 121.805 121.804' style='enable-background:new 0 0 512 512' xml:space='preserve'%3E%3Cg%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath d='M7.308,68.211h107.188c4.037,0,7.309-3.272,7.309-7.31c0-4.037-3.271-7.309-7.309-7.309H7.308 C3.272,53.593,0,56.865,0,60.902C0,64.939,3.272,68.211,7.308,68.211z' fill='%23ffffff' data-original='%23ffffff'/%3E%3C/g%3E%3C/g%3E%3Cg xmlns='http://www.w3.org/2000/svg'/%3E%3Cg xmlns='http://www.w3.org/2000/svg'/%3E%3Cg xmlns='http://www.w3.org/2000/svg'/%3E%3Cg xmlns='http://www.w3.org/2000/svg'/%3E%3Cg xmlns='http://www.w3.org/2000/svg'/%3E%3Cg xmlns='http://www.w3.org/2000/svg'/%3E%3Cg xmlns='http://www.w3.org/2000/svg'/%3E%3Cg xmlns='http://www.w3.org/2000/svg'/%3E%3Cg xmlns='http://www.w3.org/2000/svg'/%3E%3Cg xmlns='http://www.w3.org/2000/svg'/%3E%3Cg xmlns='http://www.w3.org/2000/svg'/%3E%3Cg xmlns='http://www.w3.org/2000/svg'/%3E%3Cg xmlns='http://www.w3.org/2000/svg'/%3E%3Cg xmlns='http://www.w3.org/2000/svg'/%3E%3Cg xmlns='http://www.w3.org/2000/svg'/%3E%3C/g%3E%3C/svg%3E");
    width: 0.85rem;
  }
}
@media (min-width: 992px) {
  .footer h3 {
    pointer-events: none;
  }
}
.footer .links ul li {
  margin-bottom: 8px;
  line-height: 1.2;
}
.footer .links ul li a {
  position: relative;
  color: var(--light);
  opacity: 1;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-transform: capitalize;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
[dir="ltr"] .footer .links ul li a:not(.social):hover {
  padding-left: 0.5rem;
}
[dir="rtl"] .footer .links ul li a:not(.social):hover {
  padding-left: 0;
  padding-right: 0.5rem;
}
.footer input[type="email"] {
  border-radius: calc(var(--radius) * 0.5);
}
[dir="ltr"] .footer input[type="email"] {
  padding-right: 50px;
}
[dir="rtl"] .footer input[type="email"] {
  padding-right: 10px;
  padding-left: 50px;
}
.footer .form-group .submit-newsletter {
  position: absolute;
  top: 0;
  width: 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--grey-dark);
}
[dir="ltr"] .footer .form-group .submit-newsletter {
  right: 0;
}
[dir="rtl"] .footer .form-group .submit-newsletter {
  right: auto;
  left: 0;
}
.follow_us h5 {
  font-size: 0.875rem;
  margin: 35px 0 10px 0;
  text-transform: uppercase;
  color: var(--main-color);
}
.follow_us ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.follow_us ul li a {
  display: block;
}
.follow_us ul li a:hover {
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  transform: translateY(-5px);
}
.footer .payment a {
  border: 1px solid var(--dark);
  border-radius: calc(var(--radius) * 0.5);
  background-color: var(--light);
  display: flex;
}
.footer .payment a:hover {
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  transform: translateY(-5px);
}
/* End of Footer */
